*{margin:0; padding: 0}

h1{
    margin-left: 2vw;
    margin-bottom: 8vh;
    margin-top: 3vh;
    color: rgb(65, 3, 3);
}

.img-refeicao{
    width: 80px;
    height: 60px;
    margin-right: 2vw;
    margin-left: 1vw;
}
.img-tabela{
    display: flex;
}
table{
    margin-left: 3vw;
    margin-right: 3vw;
    width: 95vw;
    text-align: center;
    border-bottom: 1px solid #814f34;

}
th{
    background-color: #814f34;
    height: 5vh;
    color: white;
    
}
td{
    font-size: 20px;
}
tr button{
    padding: 0px 1px;
    border-radius: 25%;
    font-size: 12px;
    background-color: #ddb199;
    font-weight: bold;
    width: 1vw;
    border: none;
}
tr button:hover{
    background-color: hsl(21, 43%, 35%) ;
}
tr button:active{
    background-color: #5e2e15;
}
.total {
    border: 1px solid #814f34;
    width: 40vw;
    margin-top: 10vh;
    margin-left: 58vw;
    
}

.botao-finalizar-compras{
    padding: 10px 50px;
    margin-top: 2vh;
    margin-left: 80vw;
    background-color: rgb(5, 155, 12);
    border: none;
    color: white;
    font-weight: bold;
}
.botao-finalizar-compras:hover{
    background-color: rgb(15, 228, 32);
}

.botao-finalizar-compras:active{
    background-color: rgb(115, 192, 122);
}

.botao-continuar-comprando{
    padding: 19px 15px;
    border: none;
    background-color: #b9b6b6;
    margin-left: 3vw;

}
.botao-continuar-comprando:hover{
    background-color: rgb(114, 109, 109);

}
.botao-continuar-comprando:active{
    background-color: gray;    
}

/* HEADER */
/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
  }
  .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    position: absolute;
  }
  
  header .logo {
    position: relative;
    max-width: 80px;
    top: 0;
   position: absolute;
  }
  .img_logo{
    width: 250%;

  }
  
  #list-container {
    margin-top: auto;
  }
  
  
  
  
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  }
  
  
  .checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
    position: absolute;
  }
  
  .checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  
  .checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
  }
  
  #toggle {
    display: none;
  }
  
  /* Menu */
  
  .menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px wheat;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
  }
  
  .menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
  }
  
  .menu-itens ul {
    list-style-type: none;
  }
  
  .menu-itens ul li a {
    margin: 10px 0 ;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
  }
  
  /* Animação do Menu */
  
  #toggle:checked + .checkbox .trace:nth-last-child(1) {
    transform: rotate(45deg);
  top: 47px;
  }
  
  #toggle:checked + .checkbox .trace:nth-last-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
  }
  
  #toggle:checked + .checkbox .trace:nth-last-child(3) {
  transform: rotate(-45deg);
  top: 48px;
  }
  
  #toogle:checked + .checkbox {
    background-color:  #e79265;
  }
  
  #toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #e79265;
    z-index: 1;
  }
  
  #toggle:checked ~.menu-itens {
    visibility: visible;
    opacity: 1;
  }
  .list-container {
    margin: left;
  }
  
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content .textBox {
    position: relative;
    max-width: 600px;
    margin: 100px;
  }
  
  .content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
  }
  
  .content .textBox h2 span {
    color: maroon;
    font-size: 1.2em;
    font-weight: 900;
  }
  
  .content .textBox p {
    color: #333;
  }
  
  .content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: maroon;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .content .img-box {
    width: 800px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    margin-top: 50px;
  }
  
  main ul {
    position: relative;
    display: flex;
  }
  
  main ul li {
    list-style: none;
  }
  
  main ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }
  
  .social-media {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-58%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .social-media li {
    list-style: none;
  }
  
  .social-media li a {
    display: inline-block;
  }
  
  .conteudo {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* FOOTER */
footer {
    width: 98.7vw;
    display: flex;
    margin-top: 15vh;
    border-top: 1px solid #5e2e15;
  }
   
.footer-titulo h1 {
    font-size: 20vw;
    display: flex;
  }
  
footer .boxs {
    width: 35vw;
    padding: 15px;
  }
  
  
.boxs h2 {
  color: #5e2e15;
  margin-bottom: 1vw;
  }
  
.boxs ul li {
    margin: 10px 0px;
    list-style: none;
  }
  
  .boxs ul li a {
    color:black;
    text-decoration: none;
  }
  
  .img-certificado{
      width: 5vw;
      height: 5vh;
  }

  #certificados{
    margin-left: 1.7vw;

  }

/* RESPONSIVIDADE */
@media screen and (max-device-width : 480px){
    
    h1{
        font-size: 14px;
    }
    table{
        font-size: 9px;
    }
    
    table tr td{
        font-size: 12px;
    }

.botao-finalizar-compras{
    margin-left: 60vw;
    padding: 10px 25px;
    font-size: 10px;
}
.botao-continuar-comprando{
    margin-left: 5vw;
    padding: 10px 25px;
    font-size: 10px;
}

/* footer */
.footer-titulo h1 {
    font-size: 10vw;
  }
  h2{
      font-size: 5vw;
  }

  footer .boxs {
    width: 20vw;
    padding: 19px;
  }
  .img-certificado{
    width: 12vw;
    height: 5vh;
  
  }
  #certificados{
    margin-left: 9vw;

  }
}
    

