*{
    margin: 0;
    padding: 0;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    position: absolute;
  }
  
  header .logo {
    position: relative;
    max-width: 80px;
    top: 0;
   position: absolute;
  }
  .img_logo{
    width: 5vw;
    margin-top: 20%;
    
  }
  
  #list-container {
    margin-top: auto;
  }
  
  
  
  
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
    position: absolute;
  }
  
  .checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  
  .checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
  }
  
  #toggle {
    display: none;
  }
  
  /* Menu */
  
  .menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px wheat;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
  }
  
  .menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
  }
  
  .menu-itens ul {
    list-style-type: none;
  }
  
  .menu-itens ul li a {
    margin: 10px 0 ;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
  }
  
  /* Animação do Menu */
  
  #toggle:checked + .checkbox .trace:nth-last-child(1) {
    transform: rotate(45deg);
  top: 47px;
  }
  
  #toggle:checked + .checkbox .trace:nth-last-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
  }
  
  #toggle:checked + .checkbox .trace:nth-last-child(3) {
  transform: rotate(-45deg);
  top: 48px;
  }
  
  #toogle:checked + .checkbox {
    background-color:  #e79265;
  }
  
  #toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #e79265;
    z-index: 1;
  }
  
  #toggle:checked ~.menu-itens {
    visibility: visible;
    opacity: 1;
  }

.h2_div-main{
    color: #51260e;
    text-shadow: 1px 0.5px #876a59 ;
    text-align: center;
    padding: 4%;
    font-size: 60px;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 100%;
    justify-content: space-between;
    margin-left:5% ;
         

}
.card_container{
    width: 89%;
    height: 100%;
    background-color:#ffffff(238, 48, 48) ;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 3px 3px 6px #876a59(238, 48, 48);
    text-align: center;
    align-items: center;
    
    
}

.card_img{
    width: 50%;
    height: 70%;

}
.card_h3{
    align-items: center;
    padding: 2%;
    color: #3b1a08;
    
}
.card_p{
    width: 90%;
    height: 70%; 
    text-align: center;
    font-size: 110%;
}
.div_apresentacao{
    margin-top: 2%;
    padding: 2em;
    background-color: #f3f2f1b7 ;
    text-align: center;
}
.h3_div-apresentacao{
    font-size: 50px;
    color: #51260e;
    
}
.p_div-apresentacao{
    padding: 1em;
    font-size: 20px;
}

/* FOOTER */
footer {
  width: 98.7vw;
  display: flex;
  margin-top: 15vh;
  border-top: 1px solid #5e2e15;
}
 
.footer-titulo h1 {
  font-size: 20vw;
  display: flex;
}

footer .boxs {
  width: 35vw;
  padding: 15px;
}


.boxs h2 {
color: #5e2e15;
margin-bottom: 1vw;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li a {
  color:black;
  text-decoration: none;
}

.img-certificado{
    width: 5vw;
    height: 5vh;
}

#certificados{
  margin-left: 1.7vw;

}

/* RESPONSIVIDADE */
@media screen and (max-device-width : 480px){
  
  h1{
      font-size: 14px;
  }
  table{
      font-size: 9px;
  }
  
  table tr td{
      font-size: 12px;
  }

.botao-finalizar-compras{
  margin-left: 60vw;
  padding: 10px 25px;
  font-size: 10px;
}
.botao-continuar-comprando{
  margin-left: 5vw;
  padding: 10px 25px;
  font-size: 10px;
}

}